  </body>
   <footer class="footer">
        <dl class="visitekaartje-dl">
          <dt>SOCIAAL</dt>
          <dd>ツ</dd>

          <dt>BEHULPZAAM</dt>
          <dd>❤</dd>

          <dt>CREATIEF</dt>
          <dd>𓇼</dd>
        </dl>
      </footer>
</html>