{% render 'partials/head.liquid' %}

<article class="visitekaartje">

  <header>
        <img src="style/Squad1J-Lynn.JPG" alt="" width="800" height="800" class="visitekaartje-img">
  </header>

  <main class="main">
    <p class="fdnd-student">FDND student</p>
    <p class="tekst">Ik kijk er naar uit om mijn kennis te verbreden
    <br>en mensen blij te maken met mijn werk.</p> 

    <div class="rij-blokjes rij-1">
      <p class="blokjes">JAVASCRIPT</p>
      <p class="blokjes">HTML</p>
      <p class="blokjes">CSS</p>
    </div>

    <div class="rij-blokjes">
      <p class="blokjes">CREATIEF</p>
      <p class="blokjes">SOCIAAL</p>
      <p class="blokjes">BEHULPZAAM</p>
    </div>

  </main>

</article>

{% render 'partials/foot.liquid' %}
