{% render 'partials/head.liquid' %}

 <article class="visitekaartje">

      <header>
        <h1>{{ person.name }}</h1>
        <p>Ik kijk er naar uit om mijn kennis te verbreden
        <br>en mensen blij te maken met mijn werk.</p>
      </header>

      <main class="main">
        <img src="style/Squad1J-Lynn.JPG" alt="" width="800" height="800" class="visitekaartje-img">
        <p>FDND student</p>

      </main>
    </article>

{% render 'partials/foot.liquid' %}
